* {
	border: none;
  margin: 0px;
  padding: 0px;
	font-size: 13px;
	font-family: Product Sans, Arial, Helvetica, sans-serif;
  border-radius: 0px;
}
window#waybar {
	background-color: #444d58;
	color: #cfcfcf;
}
#workspaces {
  margin: 0px 2px;
}
#workspaces button {
}
#workspaces button.focused {
	color: #ffffff;
  background-color: #545d68
}
#workspaces button.urgent {
	color: #eb4d4b;
}
#window.empty {
	background-color: transparent;
}
#pulseaudio, #battery, #clock, #tray {
  margin: 0px 7px;
}
